# Idea
.idea/

# Node modules
node_modules/

# Sources & Build
src/
tsconfig.json

# Test & Coverage
coverage/
test/
.eslintrc.json
babel.config.js
jest.config.js

# Git
.git/
.gitignore
.github/

# Webview
docs/