@charset "utf-8";
/*
colors
#F9F300 - yellow
#FFFCBE - body-yellow
*/
body, html {
  margin:0px; 
  padding:10px; 
  border: 0px;
  font-family: Trebuchet MS;
  min-width:950px;
  font-size:10pt;
}

img {
    border:0px;
}


td.skeleton {
	   border: 1px solid #ccc;	
}

td.menu {
   border-bottom: 1px solid #ccc;
}


div.debug-info
{
    display:none; 
    border: 1px solid #CCC; 
    font-size:8pt; 
    position:absolute; 
    background: #fff;
    height:800px;
    overflow:auto;
}

input.corp
{
	border: 1px solid #ccc; 
	color:#000; 
	font-weight:bold; 
	background: #F9F300;
}

input.corp_text
{
	border: 1px solid #ccc; 
	color:#000; 
	font-weight:bold; 
}

select.corp
{
	border: 1px solid #ccc; 
	color:#000; 
	font-weight:bold; 
}

table.plain {
	border-collapse:collapse;
	padding:0px;
	width:100%;
}

table.plain td {
	padding:2px;
}

table.container {
	border:1px solid #ccc;
	border-collapse:collapse;
	padding:0px;
	width:100%;
}

table.container td, th{
	border:1px solid #ccc;
	padding:2px;
	text-align:center;
}
